﻿@model IEnumerable<OnePiece.Models.Character>
@*@model OnePiece.ViewModels.RandomCharacterViewModel*@

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Characters By Pirate Groups</h2>


@if (!Model.Any())
{
    <p>We don't have any characters yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Characters</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var character in Model)
            {
                <tr>
                    <td>@Html.ActionLink(character.Name, "Details", "Characters", new { id = character.Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}

    @*
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>

            @foreach (var characters in Model.Character)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Characters.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    *@